.bi-collection-play {
    font-size: xx-large;
}

.bi-person-circle {
    font-size: xx-large;
}

.bi-plus {
    font-size: xx-large;
}

filter-list {

    .btn.active,
    .btn:hover {
        background-color: #055c9d;
        color: #fff;
    }
}